.album-card {
  overflow: hidden;
  margin: 20px 0px;
  padding: 0;
  cursor: pointer;
  height: 250x;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: transform 0.3s, box-shadow 0.3s;
  
  &:hover {
    transform: scale(1.05); /* Escalado al pasar el ratón */
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2); /* Más sombra */
  }/* Transiciones suaves */
}

.album-title {
  font-size: 14px;
  padding: 0;
  margin: 0;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Para evitar que se desborde el texto */
}

.album-card img {
  border-top-left-radius: 10px; /* Redondear esquinas superiores */
  border-top-right-radius: 10px;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  display: block;
  border-bottom: 1px solid #ddd; /* Línea separadora */
}
